.brands-block {
  margin-bottom: 120px;
}
.brands-block__head {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}
.brands-block__text {
  font-weight: 400;
}
.brands-block__text {
  line-height: 133%;
  color: var(--clr-gray-800-08);
}
.brands-block__body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.brands-block__top {
  max-width: fit-content;
  border-radius: 8px;
  box-shadow: 0 3px 30px 0 rgba(0, 5, 98, 0.1);
  background-color: var(--clr-white);
  display: grid;
  overflow: auto hidden;
  padding-bottom: 8px;
}
.brands-block__top::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  display: block;
}
.brands-block__top::-webkit-scrollbar-track {
  background: rgba(196, 206, 227, 0.5);
  border-radius: 3px;
  border: none;
}
.brands-block__top::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent);
  border-radius: 3px;
  border: none;
  cursor: grab;
}
.brands-block__top::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
.brands-block__filters {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 3px 30px 0 rgba(0, 5, 98, 0.15);
  background-color: var(--clr-white);
  display: flex;
}
.brands-block__filter {
  flex-shrink: 0;
  min-width: 48px;
  min-height: 48px;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-align: center;
  background-color: var(--clr-white);
  color: var(--clr-gray-500);
  transition: color 0.3s, background 0.3s, border 0.3s;
}
.brands-block__filter[disabled], .brands-block__filter.disabled {
  color: var(--clr-gray-200) !important;
  cursor: default;
}
.brands-block__filter:not(:first-child, :nth-child(2)) {
  border-left: 1px solid var(--clr-gray-350);
}
.brands-block__filter:last-child {
  border-radius: 0 8px 8px 0;
}
.brands-block__filter.is-active {
  border-radius: 6px;
  border-color: var(--clr-accent);
  background-color: var(--clr-accent);
  color: var(--clr-white);
}
.brands-block__filter.is-active + .brands-block__filter {
  border-color: var(--clr-white);
}
.brands-block__filter--all {
  border-radius: 8px;
  padding: 9px 22px;
  background-color: var(--clr-blue);
  color: var(--clr-white);
}
.brands-block__filter--all.is-active {
  border-radius: 8px;
  background-color: var(--clr-blue);
  color: var(--clr-white);
}
.brands-block__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px 8px;
}
@media (width <= 61.99875em) {
  .brands-block__items {
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
  }
}
@media (width <= 47.99875em) {
  .brands-block {
    margin-bottom: 80px;
  }
  .brands-block__head {
    margin-bottom: 16px;
  }
  .brands-block__body {
    gap: 24px;
  }
  .brands-block__top {
    padding-bottom: 0;
    margin-inline: -16px;
    padding-inline: 16px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .brands-block__top::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
    appearance: none;
  }
  .brands-block__filter {
    font-size: 18px;
    line-height: 111%;
    min-width: 40px;
    min-height: 40px;
  }
}
@media (width <= 40.62375em) and (width <= 61.99875em) {
  .brands-block__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width <= 29.99875em) and (width <= 61.99875em) {
  .brands-block__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 29.99875em) {
  .brands-block__text {
    font-size: 16px;
  }
  .brands-block__item {
    box-shadow: none;
    border: 1px solid var(--clr-gray-150);
    border-radius: 12px;
    min-height: 66px;
  }
  .brands-block__item img {
    transform: scale(0.8);
  }
}
@media (width > 29.99875em) and (width <= 107em) {
  .brands-block__text {
    font-size: clamp( 16px , 12.8832973491px  +  0.6493401081vw , 24px );
  }
}
@media (width > 107em) {
  .brands-block__text {
    font-size: 24px;
  }
}
@media (any-hover: hover) {
  .brands-block__filter:not([disabled], .disabled):hover {
    border-color: var(--clr-white);
    background-color: var(--clr-gray-50);
    color: var(--clr-gray-800);
  }
  .brands-block__filter:not([disabled], .disabled):hover + .brands-block__filter {
    border-color: var(--clr-white);
  }
  .brands-block__filter.is-active:hover {
    border-color: var(--clr-accent);
    background-color: var(--clr-accent);
    color: var(--clr-white);
  }
}