.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.options__item {
  position: relative;
  cursor: pointer;
}
.options__item:not(:last-child) {
  margin-bottom: 20px;
}
.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.options__input:focus-visible + .options__label {
  outline: 1px solid #000;
}
.options__input:checked + .options__label:before {
  border-color: var(--clr-accent);
}
.options__input:checked + .options__label:after {
  transform: scale(1) translate(0px, -50%);
}
.options__label {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
  gap: 8px;
  padding-left: 40px;
  position: relative;
}
.options__label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0px, -50%);
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  border-radius: 50%;
  border: 1px solid var(--clr-gray-300);
}
.options__label:after {
  content: "";
  transition: all 0.3s ease 0s;
  transform: scale(0) translate(0px, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--clr-accent);
  position: absolute;
  left: 5px;
  top: 50%;
}
.options__label b {
  font-weight: 600;
}
.options__text {
  font-weight: 600;
}
.options__text {
  line-height: 125%;
}
.options__subtext {
  font-weight: 400;
}
.options__subtext {
  line-height: 130%;
  color: var(--clr-gray-900);
}.checkbox {
  display: inline-block;
  position: relative;
}
.checkbox:not(:last-child) {
  margin-bottom: 5px;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:focus-visible + .checkbox__text {
  outline: 1px solid #000;
}
.checkbox__input:checked + .checkbox__text::before {
  border-color: var(--clr-accent);
  background-color: var(--clr-accent);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666016 4.2354L5.49175 8.54309L10.666 0.543091' stroke='%23ffffff' stroke-width='2' /%3E%3C/svg%3E");
}
.checkbox__text {
  max-width: fit-content;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--clr-gray-800);
  transition: color 0.3s;
}
.checkbox__text::before {
  content: "";
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 8px;
  background-color: var(--clr-white);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  border: 1px solid var(--clr-white);
  border-radius: 3px;
  box-shadow: 0 1px 15px 0 rgba(0, 5, 98, 0.1);
  width: 24px;
  height: 24px;
  transition: background 0.2s, border 0.2s;
}
.checkbox__text a {
  text-decoration: underline;
  transition: color 0.3s;
}
@media (width <= 29.99875em) {
  .options__label {
    padding-left: 32px;
    gap: 4px;
  }
  .options__text {
    font-size: 18px;
  }
  .options__subtext {
    font-size: 16px;
  }
}
@media (width > 29.99875em) and (width <= 107em) {
  .options__text {
    font-size: clamp( 18px , 15.6624730118px  +  0.4870050811vw , 24px );
  }
  .options__subtext {
    font-size: clamp( 16px , 14.4416486745px  +  0.3246700541vw , 20px );
  }
}
@media (width > 107em) {
  .options__text {
    font-size: 24px;
  }
  .options__subtext {
    font-size: 20px;
  }
}
@media (any-hover: hover) {
  .checkbox__text a:hover {
    text-decoration: none;
    color: var(--clr-accent);
  }
}