.contacts {
  margin-bottom: 120px;
}
.contacts__title {
  margin-bottom: 30px;
}
.contacts__body {
  display: flex;
  gap: 36px;
}
.contacts__body:not(:last-child) {
  margin-bottom: 60px;
}
.contacts__content {
  max-width: 685px;
  width: 100%;
  border-radius: 20px;
  padding: 36px;
  background-color: var(--clr-gray-100);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contacts__block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contacts__label {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.02em;
}
.contacts__item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: var(--clr-gray-800);
  word-break: break-word;
  transition: color 0.3s;
}
.contacts__item svg,
.contacts__item img {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.contacts__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--clr-gray-800);
}
.contacts__links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.contacts__links > * {
  flex: 1 1 auto;
}
.contacts__social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.contacts__social-link {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  color: var(--clr-gray-600);
  transition: color 0.3s;
}
.contacts__social-link svg,
.contacts__social-link img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.contacts__form {
  max-width: 959px;
  width: 100%;
  border-radius: 20px;
  padding: 36px;
  box-shadow: 0 3px 30px 0 rgba(0, 5, 98, 0.1);
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
}
.contacts__form > *:not(:last-child) {
  margin-bottom: 20px;
}
.contacts__form-title:not(:last-child) {
  margin-bottom: 12px;
}
.contacts__form-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.contacts__form-inputs > * {
  flex: 1 1 330px;
  width: calc(50% - 24px);
}
.contacts__form-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.contacts__form-btns > * {
  flex: 1 1 330px;
  max-width: none;
  width: calc(50% - 24px);
}
.contacts__map {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 1px 20px 0 rgba(0, 5, 98, 0.15), 0 1px 20px 0 rgba(0, 5, 98, 0.15);
  aspect-ratio: 1680/574;
}
.contacts__map iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (width <= 61.99875em) {
  .contacts__body {
    gap: 24px;
  }
  .contacts__content {
    padding: 20px 16px;
  }
  .contacts__form {
    padding: 20px 16px;
  }
  .contacts__form-btns {
    gap: 16px;
  }
  .contacts__map {
    aspect-ratio: 16/9;
  }
}
@media (width <= 47.99875em) {
  .contacts {
    margin-bottom: 80px;
  }
  .contacts__title {
    margin-bottom: 36px;
  }
  .contacts__body {
    flex-direction: column;
    gap: 40px;
  }
  .contacts__content {
    border-radius: 0px;
    max-width: none;
    width: auto;
    margin-inline: -16px;
  }
  .contacts__form {
    border-radius: 0px;
    max-width: none;
    width: auto;
    margin-inline: -16px;
  }
  .contacts__map {
    border-radius: 0px;
    margin-inline: -16px;
  }
}
@media (width <= 40.62375em) {
  .contacts__map {
    aspect-ratio: 1/1;
  }
}
@media (width <= 29.99875em) {
  .contacts__subtitle {
    font-size: 18px;
  }
  .contacts__block .worktime__value {
    display: flex;
    flex-direction: column;
  }
  .contacts__item {
    font-size: 15px;
  }
  .contacts__form-inputs {
    flex-direction: column;
  }
  .contacts__form-inputs > * {
    flex: 1 1 auto;
    width: 100%;
  }
  .contacts__map {
    aspect-ratio: 1/1.5;
  }
}
@media (any-hover: hover) {
  .contacts__item[href]:hover {
    color: var(--clr-accent);
  }
  .contacts__social-link:hover {
    color: var(--clr-accent);
  }
}