.faq {
  margin-bottom: 120px;
}
.faq__container {
  max-width: 1472px;
}
.faq__title {
  font-weight: 500;
}
.faq__title {
  text-align: center;
  margin-bottom: 40px;
}
@media (width <= 47.99875em) {
  .faq {
    margin-bottom: 80px;
  }
  .faq__title {
    margin-bottom: 30px;
  }
}
@media (width <= 29.99875em) {
  .faq__title {
    font-size: 32px;
  }
}
@media (width > 29.99875em) and (width <= 107em) {
  .faq__title {
    font-size: clamp( 32px , 19.5331893963px  +  2.5973604325vw , 64px );
  }
}
@media (width > 107em) {
  .faq__title {
    font-size: 64px;
  }
}