.features {
  margin-bottom: 120px;
}
.features__title {
  font-weight: 500;
  margin-bottom: 40px;
}
.features__items {
  border-radius: 30px;
  background-color: var(--clr-gray-100);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
.features__item {
  display: flex;
  flex-direction: column;
}
.features__item > *:not(:last-child) {
  margin-bottom: 16px;
}
.features__item:nth-child(odd) .features__item-icon {
  background-color: var(--clr-gray-800);
}
.features__item-icon {
  border-radius: 16px;
  padding: 6px;
  width: 60px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-white);
}
.features__item-icon img {
  width: 36px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.features__item-icon:not(:last-child) {
  margin-bottom: 20px;
}
.features__item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}
@media (width <= 89.99875em) {
  .features__items {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
@media (width <= 61.99875em) {
  .features__items {
    gap: 24px;
  }
  .features__items {
    padding-inline: 12px;
  }
  .features__items {
    padding-block: 24px;
  }
}
@media (width <= 47.99875em) {
  .features {
    margin-bottom: 80px;
  }
  .features__title {
    margin-bottom: 36px;
  }
  .features__items {
    border-radius: 16px;
  }
  .features__item-text {
    font-size: 16px;
  }
}
@media (width <= 29.99875em) {
  .features__item-icon {
    border-radius: 12px;
    width: 48px;
  }
  .features__item-icon img {
    width: 24px;
  }
}
@media (width > 61.99875em) and (width <= 107em) {
  .features__items {
    gap: clamp( 24px , -25.5976222883px  +  4.999861115vw , 60px );
  }
  .features__items {
    padding-inline: clamp( 12px , -54.130163051px  +  6.6664814866vw , 60px );
  }
  .features__items {
    padding-block: clamp( 24px , 1.9566123163px  +  2.2221604955vw , 40px );
  }
}
@media (width > 107em) {
  .features__items {
    gap: 60px;
  }
  .features__items {
    padding-inline: 60px;
  }
  .features__items {
    padding-block: 40px;
  }
}