.menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  width: 100%;
  overflow: visible;
  height: calc(var(--viewport-height) - var(--header-height));
  padding-bottom: 10px;
  padding-left: max(16px, (100% - 1680px) / 2);
  padding-right: max(16px, (100% - 1680px) / 2);
  display: flex;
  flex-direction: column;
}
.menu.is-open {
  z-index: -1;
}
.menu__inner {
  width: 419px;
  max-height: 100%;
  box-shadow: 0 1px 20px 0 rgba(0, 5, 98, 0.15);
  background-color: var(--clr-white);
  border-radius: 20px;
  padding: 35px 12px 35px 35px;
  display: flex;
  flex-direction: column;
}
.menu__body {
  max-height: 880px;
  flex: 1 1 auto;
  overflow: hidden auto;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.menu__head {
  display: none;
}
.menu__top {
  display: none;
}
.menu__block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menu__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.02em;
  padding: 10px 16px;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menu__link {
  border-radius: 8px;
  padding: 12px 16px;
  min-height: 48px;
  background-color: var(--clr-gray-100);
  color: var(--clr-gray-800);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  gap: 16px;
  word-break: break-word;
  transition: background 0.3s, border 0.3s, color 0.3s;
}
.menu__link::after {
  content: "";
  margin-left: auto;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.11833 12.9441L7.10115 12.94H14.4619L12.1479 15.4782C12.0346 15.6021 11.9725 15.77 11.9725 15.9462C11.9725 16.1224 12.0346 16.2891 12.1479 16.4133L12.508 16.8076C12.6212 16.9315 12.7721 17 12.9329 17C13.0939 17 13.2449 16.932 13.3581 16.8081L17.3246 12.467C17.4383 12.3426 17.5004 12.1769 17.5 12.0006C17.5004 11.8234 17.4383 11.6576 17.3246 11.5333L13.3581 7.19195C13.2449 7.06813 13.094 7 12.9329 7C12.7721 7 12.6212 7.06822 12.508 7.19195L12.1479 7.58622C12.0346 7.70994 11.9725 7.87517 11.9725 8.05136C11.9725 8.22745 12.0346 8.38396 12.1479 8.50779L14.488 11.0602H7.1101C6.77858 11.0602 6.5 11.3729 6.5 11.7356V12.2932C6.5 12.6559 6.78681 12.9441 7.11833 12.9441Z' fill='%236B7280' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}
.menu__link svg {
  flex-shrink: 0;
}
.menu__block--contacts .menu__link::after {
  display: none;
}
.menu__info {
  display: none;
}
.menu__working {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--clr-gray-500);
}
.menu__online {
  max-width: 240px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.02em;
}
.menu__online:not(:last-child) {
  margin-bottom: 36px;
}
.menu__payment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 14px 0;
}
.menu__payment-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__payment-item img {
  max-height: 100%;
  object-fit: cover;
}
@media (width <= 74.99875em) {
  .menu__body {
    gap: 24px;
  }
  .menu__top {
    display: flex;
    flex-direction: column;
  }
  .menu__top > * {
    position: relative;
  }
  .menu__top > *:not(:last-child) {
    margin-bottom: 24px;
  }
  .menu__top .header__search:not(:last-child) {
    margin-bottom: 4px;
  }
}
@media (width <= 61.99875em) {
  .menu__inner {
    padding: 24px 12px 24px 24px;
  }
  .menu__body {
    padding: 20px 12px 20px 20px;
    margin: -5px 0 -5px -20px;
  }
}
@media (width <= 47.99875em) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: var(--viewport-height);
    z-index: 10;
    padding: 0;
    opacity: 1;
    visibility: visible;
    transition: left 0.3s;
  }
  .menu.is-open {
    z-index: 50;
    left: 0;
  }
  .menu__inner {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    flex: 1 1 auto;
  }
  .menu__body {
    padding: 0px 16px 30px 16px;
    margin: 0;
    max-height: 100%;
    gap: 16px;
  }
  .menu__head {
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 16px 16px 8px 16px;
    margin: 0 -16px;
    background-color: var(--clr-white);
  }
  .menu__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 126px;
    width: 100%;
  }
  .menu__logo img {
    width: 100%;
    object-fit: cover;
  }
  .menu__close {
    padding: 7px;
    min-width: 36px;
    min-height: 36px;
  }
  .menu__block--contacts .menu__title {
    display: none;
  }
  .menu__block--contacts .menu__link {
    justify-content: center;
  }
  .menu__title {
    font-size: 18px;
    text-align: center;
  }
  .menu__social {
    justify-content: center;
  }
  .menu__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .menu__info:not(:first-child) {
    margin-top: 40px;
  }
  .menu__info:not(:last-child) {
    margin-bottom: 16px;
  }
  .menu__info > *:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media (width <= 29.99875em) {
  .menu__link {
    font-size: 15px;
  }
}
@media (width > 61.99875em) {
  .menu__body {
    padding: 1px 20px 1px 1px;
  }
  .menu__body::-webkit-scrollbar {
    width: 4px;
    display: block;
  }
  .menu__body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
    border: none;
  }
  .menu__body::-webkit-scrollbar-thumb {
    background-color: var(--clr-gray-350);
    border-radius: 3px;
    border: none;
    cursor: grab;
  }
  .menu__body::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
  }
}
@media (any-hover: hover) {
  .menu__link[href]:hover, .menu__link[type=button]:hover {
    background-color: var(--clr-gray-50);
    color: var(--clr-gray-800);
  }
}