.pagging {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.pagging__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: var(--clr-gray-800);
  transition: background 0.3s, color 0.3s, border 0.3s;
}
.pagging__arrow[disabled], .pagging__arrow.disabled {
  pointer-events: none;
  color: var(--clr-gray-200);
  cursor: default;
}
.pagging__arrow-texts span:last-child {
  display: none;
}
.pagging__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
}
.pagging__link, .pagging__dotts {
  border-radius: 33px;
  padding: 4px;
  min-width: 33px;
  min-height: 33px;
  display: grid;
  place-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  background-color: var(--clr-white);
  color: var(--clr-black);
}
.pagging__link {
  transition: border 0.3s, color 0.3s, background 0.3s;
}
.pagging__link.is-active {
  pointer-events: none;
  background-color: var(--clr-accent);
  color: var(--clr-white);
}
@media (width <= 61.99875em) {
  .pagging {
    gap: 12px;
  }
  .pagging__arrow-texts span:first-child {
    display: none;
  }
  .pagging__arrow-texts span:last-child {
    display: block;
  }
}
@media (width <= 47.99875em) {
  .pagging {
    margin-top: 40px;
  }
}
@media (width <= 40.62375em) {
  .pagging {
    flex-wrap: wrap;
  }
  .pagging__list {
    order: -1;
    width: 100%;
  }
}
@media (any-hover: hover) {
  .pagging__arrow:not([disabled], .disabled):hover {
    color: var(--clr-accent-dark);
  }
  .pagging__link:not(.is-active, [disabled], .disabled):hover {
    background-color: var(--clr-accent);
    color: var(--clr-white);
  }
}