.textblock {
  margin-bottom: 120px;
}
.textblock__body {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.textblock__head {
  max-width: 764px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.textblock__content {
  max-width: 864px;
  width: 100%;
  max-height: 340px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.textblock__content::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(0deg, #fff 40%, rgba(255, 255, 255, 0) 100%);
  transition: opacity 0.3s, visibility 0.3s;
}
.textblock__content.width-full {
  max-width: 100%;
  max-height: 450px;
}
.textblock__content.scroll-end::before {
  opacity: 0;
  visibility: hidden;
}
.textblock__inner {
  overflow: hidden auto;
  padding: 0 20px 15px 0;
  max-height: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}
.textblock__inner::-webkit-scrollbar {
  width: 3px;
  display: block;
}
.textblock__inner::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
  border: none;
}
.textblock__inner::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent);
  border-radius: 3px;
  border: none;
  cursor: grab;
}
.textblock__inner::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
.textblock__inner > *:not(:last-child) {
  margin-bottom: 20px;
}
.textblock__inner h1,
.textblock__inner h2,
.textblock__inner h3,
.textblock__inner h4,
.textblock__inner h5,
.textblock__inner h6 {
  font-weight: 600;
  line-height: 130%;
}
.textblock__inner h1 span,
.textblock__inner h2 span,
.textblock__inner h3 span,
.textblock__inner h4 span,
.textblock__inner h5 span,
.textblock__inner h6 span {
  color: var(--brand-color);
}
.textblock__inner h1:not(:first-child),
.textblock__inner h2:not(:first-child),
.textblock__inner h3:not(:first-child),
.textblock__inner h4:not(:first-child),
.textblock__inner h5:not(:first-child),
.textblock__inner h6:not(:first-child) {
  margin-top: 36px;
}
.textblock__inner h1 {
  letter-spacing: -0.02em;
  line-height: 120%;
}
.textblock__inner h2 {
  letter-spacing: -0.02em;
  line-height: 120%;
}
.textblock__inner h5 {
  font-size: 20px;
}
.textblock__inner h6 {
  font-size: 18px;
}
.textblock__inner ul,
.textblock__inner ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 25px;
}
.textblock__inner ul li {
  list-style: disc;
}
.textblock__inner a:not(.textblock__tag) {
  color: var(--brand-color);
  text-decoration: underline;
}
.textblock__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--clr-gray-200);
}
.textblock__tag {
  max-width: fit-content;
  border-radius: 6px;
  padding: 6px 10px;
  min-height: 31px;
  border: 1px solid var(--clr-gray-100);
  background-color: var(--clr-gray-100);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: var(--clr-gray-800);
  transition: background 0.3s, border 0.3s, color 0.3s;
}
@media (width <= 61.99875em) {
  .textblock {
    padding-top: 0.000001px;
  }
  .textblock {
    padding-bottom: 0.000001px;
  }
}
@media (width <= 47.99875em) {
  .textblock {
    padding: 0;
    margin-bottom: 80px;
  }
  .textblock__body {
    flex-direction: column;
    justify-content: stretch;
  }
  .textblock__content.width-full {
    max-height: 320px;
  }
  .textblock__content {
    max-height: 294px;
  }
  .textblock__content.width-full {
    max-height: 294px;
  }
}
@media (width <= 29.99875em) {
  .textblock__inner h1 {
    font-size: 38px;
  }
  .textblock__inner h2 {
    font-size: 32px;
  }
  .textblock__inner h3 {
    font-size: 24px;
  }
  .textblock__inner h4 {
    font-size: 22px;
  }
}
@media (width > 29.99875em) and (width <= 107em) {
  .textblock__inner h1 {
    font-size: clamp( 38px , 27.8707163845px  +  2.1103553514vw , 64px );
  }
  .textblock__inner h2 {
    font-size: clamp( 32px , 30.4416486745px  +  0.3246700541vw , 36px );
  }
  .textblock__inner h3 {
    font-size: clamp( 24px , 22.4416486745px  +  0.3246700541vw , 28px );
  }
  .textblock__inner h4 {
    font-size: clamp( 22px , 21.2208243373px  +  0.162335027vw , 24px );
  }
}
@media (width > 61.99875em) and (width <= 107em) {
  .textblock {
    padding-top: clamp( 0.000001px , -110.2169360407px  +  11.1108023388vw , 80px );
  }
  .textblock {
    padding-bottom: clamp( 0.000001px , -110.2169360407px  +  11.1108023388vw , 80px );
  }
}
@media (width > 107em) {
  .textblock {
    padding-top: 80px;
  }
  .textblock {
    padding-bottom: 80px;
  }
  .textblock__inner h1 {
    font-size: 64px;
  }
  .textblock__inner h2 {
    font-size: 36px;
  }
  .textblock__inner h3 {
    font-size: 28px;
  }
  .textblock__inner h4 {
    font-size: 24px;
  }
}
@media (any-hover: hover) {
  .textblock__inner a:not(.textblock__tag):hover {
    color: var(--brand-color-hover);
    text-decoration: none;
  }
  .textblock__tag:hover {
    border-color: var(--clr-gray-50);
    background-color: var(--clr-gray-50);
    color: var(--clr-gray-800);
  }
}